<html>
<header>

  <div class="navbars">
    <h1>NAME</h1>
    <div class="navbar-nav">
        <a class="navbar-Food" href="/">Seafood</a>
        <a class="navbar-Food" href="/">Most Popular</a>
        <a class="navbar-Popular" href="/">Features</a>
        <a class="navbar-Features" href="/">Your Orders</a>
    </div>
  </div>
</header>

</html>
