<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Home Page</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <link rel="stylesheet" href="/styles/seafood.css" type="text/css" />
  <link rel="stylesheet" href="/styles/index.css" type="text/css" />
  <!-- Include stylesheets -->
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <!-- 'Source Sans Pro', sans-serif; font link -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap"
    rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
</head>




    <body>
      <%- include('partials/_header') %>
      <section class="banner">
        <p> <img class="background" src="https://www.avenuecalgary.com/wp-content/uploads/2019/01/FlowerandWolf.jpg"></p>
        <div class="welcomesign" >

          <br>
          <h2>Welcome!!!</h2>
          <br>
          <% if (user) { %>
            <form class="price-button" method= "POST" id="order" action = "foods" >
              <button type="submit" class="addtocart2" >Place an Order</button>
            </form>
            <% } %>

        </div>
      </section>



    </body>

  </body>
</html>
