<!DOCTYPE html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/login.css" type="text/css" />
  <!-- 'Source Sans Pro', sans-serif; font link -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap"
    rel="stylesheet">
  </head>

  <body>
  <%- include('partials/_header') %>
    <h3>Login</h3>
    <form method="POST" action="/login">
      <div>
        <label>Name</label>
        <input name="name" type="name" placeholder="Enter name" style="width: 325px" required >
      </div>
      <div>
        <label>Password</label>
        <input name="password" type="password" placeholder="Password" style="width: 325px" >
      </div>
      <button type="submit" class="login">Login</button>
    </form>
  </body>
</html>
