<!DOCTYPE html>
<head>
  <title>Restaurant Order</title>


  <!-- <link rel="stylesheet" href="/styles/header.css" type="text/css" /> -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/order_items.js"></script>
  <script type="text/javascript" src="/scripts/amount_with_qty.js"></script>
  <link rel="stylesheet" href="/styles/restaurant.css" type="text/css" />

  <!-- 'Source Sans Pro', sans-serif; font link -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap"
    rel="stylesheet">
</head>

<header>
  <h1>Whatever You Want This To Be</h1>
</header>
<body>

    <!-- <form action="/restaurant" class="placeorder" method="post">
      <h1>ORDER #1</h1> -->

    <form action="/order" class="placeorder" method="post">
      <h1>You Have Received A New Order For</hi>
      <hi><%= user.name%></h1>

      <table>
        <thead>
          <tr class="table">
            <td>
              <h2>Quantity</h2>
            </td>
            <td>
              <h2>Food Items</h2>
            </td>
            <td>
              <h2>Price</h2>
            </td>
          </tr>
        </thead>
        <tbody class="itemsList">
        </tbody>
      </table>
      <div class="notes">
      </div>
      <div class="note">
        <h3>Please specify how long to complete the order</h3>
        <h4>(Please keep the service time below 20 minutes to maintain your restaurant rating)</h4>>
        <select name="time">
          <option value="0">Select time:</option>
          <option value="10">10 minutes</option>
          <option value="12">12 minutes</option>
          <option value="14">14 minutes</option>
          <option value="16">16 minutes</option>
          <option value="18">18 minutes</option>
          <option value="20">20 minutes</option>
        </select>
      </div>
      <div class="receipt">
        <div class="total subtotals">
          <text>Subtotal</text>
          <span class="subtotal"></span>
        </div>
        <div class="total taxes">
          <text>Tax</text>
          <span class="tax"></span>
        </div>
        <div class="total totals">
          <text>Total</text>
          <span class="total_amount"></span>
        </div>
      </div>
      <button class="confirm" type="submit">Confirm Order</button>
    </form>
  </body>





</html>
