header{
  display: flex;
    width: 100%;
    flex-direction: row;
    background-color:#62cade;
    align-items: center;

}

.navbars{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  width: 100%;

}

.navbar-nav{
  display: flex;
  flex-direction: row;
  color: white;
  width:100%;
}

.navbar-Food,.navbar-Popular,.navbar-Features{
  margin-left: 70px;
  font-family: 'Bungee';
  color:white;
}



